


.gradient-custom {
    
    background: #ffffff;
    
    
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));
    
    
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
    }
    
    .carousel-indicators li {
    background-color: #282828;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    
    }

    .map{
        border-radius: 40px;
        height: 500px;
        width: 90%;
        margin-left: 70px;
        margin-top: 10px;
    }
    .forcast{
        margin-left: 158px;
        margin-bottom: 25px;
        font-size: 40px;
        


    }
    .nav1{
        color: #fff;
    }
    .nav2{
        color: #fff;
        text-decoration: none;
        margin-right: 14px;
        margin-top: 5px;
    }
    .nav3{
        color: #fff;
        text-decoration: none;
        margin-left: 25px;
        margin-right: 14px;
        margin-top: 5px;
    }

.windl {
    margin-left: 51px;
    margin-top: -39px;
}


    